* {
	box-sizing: border-box;
}

body {
	background-color: #5f97ef;
	font-family: 'Source Sans Pro', sans-serif;

}

.logo {
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
}

.signup-form {
	width: 400px;
	height: 500px;
	padding: 0 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 53px;
	background-color: white;

}

legend {
	text-align: center;
	padding-top: 34px;
	font-weight: lighter;
	color: gray;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	font-size: 33px;
}

.rectangle {
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid #e0e0d1;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.input-font {
	font-size: 16px;
}

input.rectangle {
	color: #c2d6d6;
	background-color: #f0f5f5;
}

input.rectangle:invalid {
	color: red;
}

input.rectangle:valid {
	color: green;
}

fieldset.no-border {
	border-style: none;
	margin-left: -12px;
}

.submit-button {
	background-color: #00cc66;
	color: white;
	font-size: 21px;
}

.submit-button:hover {
	background-color: #1f7f3a;
}

a.forgot-password {
	text-align: center;
	color: gray;
	display: block;
}

.account {
	color: white;
	text-align: center;
}